.portada-container{
    width: 100%;
    height: 400px;
    background-color: grey;

}
.container-height{
    height: 400px;
}

.portada-info{   
    color: white;
    width: 60%;
    height: 400px;
    display: block
}
.portada-info h1{
    font-size: 56px;
    font-weight: 800
}
